html {
	box-sizing: border-box;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
	font-family: sans-serif;
}

*, *::before, *::after {
	box-sizing: inherit;
}

.panel {
display: none;
}

.panel:target {
display: block;
}

a {
	border-radius: 50%;
	border: 3px solid black;
	width: 10px;
	height: 10px;
	overflow: hidden;
	display: inline-block;
}

.circles {
	text-align: center;
	width: 55%;
}
